{{- range .Values.microservices }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .name }}-service
spec:
  selector:
    app: {{ .name }}-deployment
  type: {{ default "ClusterIP" .serviceType }}
  {{ - if eq .name "gateway" }}
  loadBalancerIP: 192.168.0.203
  {{- end }}
  ports:
    - port: {{ default 3000 .port }}
      protocol: TCP
      targetPort: {{ default 3000 .servicePort }}
---
{{- end }}
