microservices:
  - name:  auth
    image: questnutri/auth-svc:2.4.0
    volumeMaps:
      - name: auth-keys-config-map
        keys:
          - private-key.pem
          - public-key.pem
    database: 
      type: postgres
      volumeMaps:
        - name: auth-postgres-config-map
          keys:
            - init.sql
  - name: aliment
    image: questnutri/aliment-svc:2.4.0
    database: 
      type: mongodb
      volumeMaps:
        - name: new-taco-config-map
          keys:
            - new-taco.json
        - name: home-measures-config-map
          keys:
            - home-measures.json
        - name: import-databases-config-map
          keys:
            - import-databases.sh
  - name: diet
    image: questnutri/diet-svc:2.4.0
    database:
      type: postgres
    envVariables:
      - name: DISABLE_PAST_DATE_SCHEDULING
        value: true
  - name: nutritionist
    image: questnutri/nutritionist-svc:2.4.0
    database:
      type: postgres
  - name: patient
    image: questnutri/patient-svc:2.4.0 
    database:
      type: postgres
  - name: record
    image: questnutri/record-svc:2.4.0
    database:
      type: postgres
  - name: admin
    image: questnutri/admin-svc:2.4.0
    database: 
      type: postgres
      volumeMaps:
        - name: admin-postgres-config-map
          keys:
            - init.sql
  - name: game
    image: questnutri/game-svc:2.4.0
    database:
      type: postgres
  - name: notification
    image: questnutri/notification-svc:2.4.0
    database:
      type: postgres
  - name: gateway
    image: questnutri/gateway:2.4.0
    port: 8181
    servicePort: 8080
    serviceType: LoadBalancer

rabbitmq: {}